/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* Variables */

:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: #ffffff;
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: #ff3366;
  --text-color: #000000;
  --text-color-light: hsl(0 0% 98%);
  --body-color: #ffffff;
}

/* Base */
body {
  font: 400 1rem 'DM Sans', sans-serif;
  background: var(--body-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1.875rem 'Poppins' sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

/* Layout */

#header {
}
nav {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Home */
